<!DOCTYPE html>
<html lang="en">
<%- include ../partials/head %>
<body>
<div class="container">
    <% if (locals.error) { %>
        <div class="alert alert-danger">
          <p><%= error %></p>
        </div>
    <% } %>
    <% if (locals.success) { %>
      <div class="alert alert-primary">
        <p><%= success %></p>
      </div>
    <% } %>

    <h1>Login</h1>
    <form action="/login" method="POST">
        <div class="form-group">
          <label for="login">Login:</label>
          <input class="form-control" type="text" placeholder="Login" name="login">
        </div>
        <div>
          <label for="password">Password:</label>
          <input class="form-control" type="password" placeholder="Senha" name="password"><br>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <p>Não é registrado? <a href="/register">Registrar usuário</a>.</p>
</div>
</body>
</html>