<!DOCTYPE html>
<html lang="en">
<%- include ../partials/head %>
<body>
  <div class="container">
    <% if (locals.error) { %>
      <div class="alert alert-danger">
        <p><%= error %></p>
      </div>
    <% } %>

    <h1>Registro</h1>
    <form action="/register" method="POST">
        <div class="form-group">
          <label for="name">Nome:</label>
          <input class="form-control" type="text" placeholder="Nome" name="name">
        </div>
        <div class="form-group">
          <label for="login">Login:</label>
          <input class="form-control" type="text" placeholder="Login" name="login">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input class="form-control" type="password" placeholder="Senha" name="password"><br>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form> 
    <p>Já é registrado? <a href="/login">Login</a></p>
  </div>
</body>
</html>