
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div id="main-menu">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="<%= (locals.page && page == 'home')? "nav-item active" : "nav-item" %>">
                <a class="nav-link" href="/">Home</a>
            </li>
            
            <li class="nav-item mt-2 mt-md-0">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>